@use 'drawer';

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.threats-page {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@include drawer.overlay-drawer;
@include drawer.resize-handle(48px);
